<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>{{site_title}}</title>

  <link href="/components/bootstrap.css/css/bootstrap.min.css" media="all" rel="stylesheet" />
  <link href="/components/bootstrap.css/css/bootstrap-responsive.min.css" media="all" rel="stylesheet" /></head>
  <link rel="stylesheet" href="/css/main.css">

  <body lang="en">
    <div id="rentrapp">
      
    </div>
  </body>
  <script src="application.js"></script>
</html>